<div class="modal-body">
    <div *ngFor="let item of items$ | async" class="card-cart">
        <img src="." class="card-img-top img-cart" alt="">
        <h5 class="card-title">{{item.product.name}}, {{item.product.options[0].gender}}</h5>
        <p class="options">{{item.product.options[0].color}}, {{item.product.options[0].size}}</p>
        <p class="price">{{item.product.price}}<span>$</span></p>
        <div>
            <button class="btn btn-info" (click)="onDecreaseClicked(item.product)"><i class="fas fa-minus"></i></button>
            <input class="quantity" type="text" [value]="item.quantity" readonly>
            <button class="btn btn-info" (click)="onIncreaseClicked(item.product)"><i class="fas fa-plus"></i></button>
        </div>
        <p class="total">{{(item.product.price * item.quantity).toFixed(2)}}<span>$</span></p>
        <a href="#" class="btn btn-primary" (click)="onDeleteAllClicked(item.product)"> <i class="far fa-trash-alt"></i> </a>
    </div>
</div>
<div class="modal-footer">
    <a type="button" class="btn btn-outline-dark" routerLink="/checkout">Checkout</a>
</div>
