<header class="header">
  <div class="wrap wrap-header">
    <a *ngIf="!(customerIsAuthenticated$ | async)" class="btn btn-link" routerLink="/login">
      Sign In
    </a>
    <button *ngIf="(customerIsAuthenticated$ | async)" class="btn btn-link" (click)="onLogoutClick()">
      Logout
    </button>
    <a *ngIf="(customerIsAuthenticated$ | async)" class="btn btn-link" routerLink="/profile">
      Profile
    </a>
    <a class="btn btn-link" routerLink="/cart">
      Cart <ng-container *ngIf="cartItemsCount$ | async as cartItemsCount">({{cartItemsCount}})</ng-container>
    </a>
  </div>
</header>