<img [src]="'/assets/' + product.id + '.jpg'" class="card-img-top" alt="">
<div class="card-body" [formGroup]="form">
    <h5 class="card-title">{{product.name}}</h5>
    <p class="material">{{product.material}}</p>
    <ul class="color__list">
        <li *ngFor="let c of colors" class="color__item">
            <input class="color__item-input" type="radio" [id]="product.id + '-color-' + c.color" formControlName="colors" [value]="c.color">
            <label class="color__item-label" [ngClass]="{'white': c.color === 'white' }" [for]="product.id + '-color-' + c.color" [style.background-color]="c.color"></label>
        </li>
    </ul>
    <ul class="size__list">
        <li *ngFor="let s of sizes" class="size__item">
            <input class="size__item-input" type="radio" [id]="product.id + '-size-' + s.size" formControlName="sizes" [value]="s.size">
            <label class="size__item-label" [for]="product.id + '-size-' + s.size">{{s.size}}</label>
        </li>
    </ul>
    <p class="price">{{product.price}}<span>$</span></p>
    <button class="btn btn-primary" (click)="onAddToCartClicked(product)" [disabled]="form.invalid"><i class="fas fa-cart-plus"></i></button>
</div>
